.header {
    position: relative;
    flex-direction: row;
    display: flex;
    height: 52px;
    width: 1184px;
    align-items: center;
    justify-content: end;
    margin: 0 auto 56px auto;
    padding: 28px 0 0 0;
    
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .header {
        width: 928px;
        height: 52px;
        margin-bottom: 48px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header {
        width: 720px;
        height: 52px;
        margin-bottom: 48px;
    }
}

@media screen and (min-width: 140px) and (max-width: 767px) {
    .header {
        width: 288px;
        height: 42px;
        padding-top: 16px;
        margin-bottom: 48px;
    }
}