.footer__copyright {
    width: 186px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    text-align: right;
    margin: 0 0 0 515px;
    padding: 0;
    color: #FFFFFF;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .footer__copyright {
        margin-left: 259px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer__copyright {
        margin-left: 51px;
    }
}

@media screen and (min-width: 140px) and (max-width: 767px) {
    .footer__copyright {
        line-height: 14px;
        margin-left: 0;
        margin-top: 16px;
        text-align: left;
    }
} 