.lead__image {
    max-width: 984px;
    max-height: 615px;
    display: flex;
    object-fit: fill;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .lead__image {
        max-width: 928px;
        max-height: 580px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead__image {
        max-width: 100%;
        max-height: 480px;
    }
}

@media screen and (min-width: 140px) and (max-width: 767px) {
    .lead__image {
        max-height: 200px;
        /*Добавил "max-width: 100%" т.к. конкретно в мобильной версии без повторного свойства появляется горизонтальный скролл.*/
        max-width: 100%
    }
} 