.footer__item {
    display: grid;
    grid-template-columns: 50px 57px 94px 86px 106px;
    grid-template-rows: 18px;
    column-gap: 18px;
}

@media screen and (max-width: 1279px) {
}

@media screen and (max-width: 1023px) {
}

@media screen and (max-width: 767px) {
    .footer__item {
        grid-template-rows: 24px 24px 24px 24px 24px;
        grid-template-columns: auto;
        column-gap: 0;
        row-gap: 32px;
        
    }
} 